.card {
  width: 210px;
  height: 254px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  border-radius: 20px;
  margin: 1rem;
}

.card > * {
  margin: 0;
}

.card__content {
  font-size: 13px;
  line-height: 18px;
}

.card__form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.link {
  text-decoration: none;
}
