.Active {
  background-color: #ffb300 !important;
}
.Banned {
  background-color: #9e9e9e !important;
}

.Client {
  background-color: #ffa726 !important;
}

.Admin {
  background-color: #ff6f00 !important;
}
