.featured {
  display: flex;
  width: 80%;
  height: 150px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 1rem;
}
.containerHeader {
  margin-bottom: 1rem;
}

.featuredbox {
  border-radius: 10px;
  max-width: 15rem !important;
  box-shadow: -3px 3px 5px 0px rgba(237, 237, 237, 0.52);
  -webkit-box-shadow: -3px 3px 5px 0px rgba(247, 247, 247, 0.52);
  -moz-box-shadow: -3px 3px 5px 0px rgba(244, 244, 244, 0.52);
}
.featuredTitle {
  text-align: center;
  font-size: 25px !important;
}
.featuredMoneyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.featuredMoney {
  text-align: center;
  font-size: 45px !important;
  font-weight: 500 I !important;
}
.featuredMoneyRate {
  display: flex;
  text-align: center;
}

.featuredSub {
  font-size: 15px;
}
.ContainerUsersAndBox {
  display: flex;
  flex-direction: row;
}

.GridContainer {
  width: 100%;
}

.containerAdmin {
  margin-top: 0px;
  width: 100% !important;
}

.dataUserBuy {
  margin-left: 5rem;
}

.box {
  padding: 10px;
  display: flex;
  width: 80%;
  height: 150px;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 1rem;
}
@media screen and (max-width: 3000px) and (min-width: 601px) {
  .containerGridMobile {
    display: none;
  }
}

@media screen and (max-width: 600px) and (min-width: 1px) {
  .box {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: end;
    width: 100%;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    justify-items: end;
    margin-left: -25px;
  }
  .containerAdmin {
    display: flex;
    flex-direction: column;
  }
  .containerGrid {
    display: none;
  }
  .dataUserBuy {
    margin-left: 0rem;
    margin-top: 6rem;
  }
}
