.button {
	background-color: transparent;
	border-color: transparent;
	font-size: 17px;
	text-decoration: none;
}

.button :hover {
	cursor: pointer;
	transition: 0.1s;
	color: white;
}

.navlink {
	text-decoration: none;
}



.toolbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.searchbar {
	margin-right: 20px;
	border: 1px solid orangered
}

.bagQuantity {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background: rgb(217, 79, 15);
	font-size: 14px;
	font-weight: 700;
	color: black;
	margin-left: 5px;
}

.navBag {
	display: flex;
	align-items: center;
}

.groupNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}